In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt

# Import the API key
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-06-13 16:44:48,42.6001,-73.9662,81.14,59,24,5.44
1,1,Ushuaia,AR,2021-06-13 16:44:49,-54.8000,-68.3000,38.86,81,75,29.93
2,2,Barrow,US,2021-06-13 16:40:02,71.2906,-156.7887,35.62,93,90,11.50
3,3,Severo-Kurilsk,RU,2021-06-13 16:44:50,50.6789,156.1250,42.87,97,100,16.15
4,4,Port Lincoln,AU,2021-06-13 16:44:50,-34.7333,135.8667,58.53,75,99,11.97

In [3]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Save the figure.
plt.savefig("Fig10.png")

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-06-13 16:44:48,42.6001,-73.9662,81.14,59,24,5.44
8,8,Kieta,PG,2021-06-13 16:44:51,-6.2167,155.6333,77.86,83,93,4.14
11,11,Salalah,OM,2021-06-13 16:44:53,17.0151,54.0924,84.29,84,20,11.50
12,12,Faya,SA,2021-06-13 16:40:11,18.3851,42.4509,79.32,15,12,11.77
21,21,Puerto Ayora,EC,2021-06-13 16:40:05,-0.7393,-90.3518,80.56,85,93,7.00
25,25,Jamestown,US,2021-06-13 16:44:10,42.0970,-79.2353,81.72,61,75,5.75
26,26,Dingle,PH,2021-06-13 16:44:59,10.9995,122.6711,77.32,88,100,2.66
27,27,Dayong,CN,2021-06-13 16:44:59,25.0209,118.2898,82.08,92,100,2.06
31,31,Kapaa,US,2021-06-13 16:45:01,22.0752,-159.3190,75.52,78,75,3.00
35,35,Havelock,US,2021-06-13 16:45:04,34.8791,-76.9013,80.98,81,90,5.99

In [14]:
preferred_cities_df.count()

City_ID       199
City          199
Country       198
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Albany      US     81.14  42.6001  -73.9662
8          Kieta      PG     77.86  -6.2167  155.6333
11       Salalah      OM     84.29  17.0151   54.0924
12          Faya      SA     79.32  18.3851   42.4509
21  Puerto Ayora      EC     80.56  -0.7393  -90.3518
25     Jamestown      US     81.72  42.0970  -79.2353
26        Dingle      PH     77.32  10.9995  122.6711
27        Dayong      CN     82.08  25.0209  118.2898
31         Kapaa      US     75.52  22.0752 -159.3190
35      Havelock      US     80.98  34.8791  -76.9013

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
preferred_cities_df.count()

City_ID       199
City          199
Country       198
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

TypeError: list indices must be integers or slices, not str

In [35]:
hotels = requests.get(base_url, params=params).json()
hotels

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [33]:
hotel_df.head()

            City Country  Max Temp      Lat       Lng Hotel Name
0         Albany      US     81.14  42.6001  -73.9662
8          Kieta      PG     77.86  -6.2167  155.6333
11       Salalah      OM     84.29  17.0151   54.0924
12          Faya      SA     79.32  18.3851   42.4509
21  Puerto Ayora      EC     80.56  -0.7393  -90.3518

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
hotel_df

             City Country  Max Temp      Lat       Lng Hotel Name
0          Albany      US     81.14  42.6001  -73.9662
8           Kieta      PG     77.86  -6.2167  155.6333
11        Salalah      OM     84.29  17.0151   54.0924
12           Faya      SA     79.32  18.3851   42.4509
21   Puerto Ayora      EC     80.56  -0.7393  -90.3518
..            ...     ...       ...      ...       ...        ...
537         Avera      US     80.74  33.1940  -82.5271
539  Bhadrachalam      IN     81.93  17.6667   80.8833
540    Brigantine      US     80.28  39.4101  -74.3646
542          Miri      MY     77.14   4.4148  114.0089
543  Barra Patuca      HN     85.64  15.8000  -84.2833

[199 rows x 6 columns]

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))