In [41]:
# Import the dependencies.
%matplotlib inline
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [42]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mayya,RU,2021-06-14 05:24:11,61.7333,130.2811,72.72,29,61,3.04
1,1,Geraldton,AU,2021-06-14 05:24:12,-28.7667,114.6000,70.21,64,40,18.41
2,2,Key West,US,2021-06-14 05:23:44,24.5557,-81.7826,82.99,78,1,12.66
3,3,Krasnoselkup,RU,2021-06-14 05:24:13,65.7000,82.4667,70.21,51,60,13.96
4,4,Bredasdorp,ZA,2021-06-14 05:24:13,-34.5322,20.0403,47.28,93,1,5.75

In [43]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [50]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [51]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Save the figure.
plt.savefig("Fig10.png")

In [53]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [54]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [58]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Key West,US,2021-06-14 05:23:44,24.5557,-81.7826,82.99,78,1,12.66
10,10,Vaini,TO,2021-06-14 05:24:16,-21.2000,-175.2000,75.36,83,75,8.05
18,18,Pemangkat,ID,2021-06-14 05:24:19,1.1667,108.9667,87.40,61,57,4.50
20,20,Mukdahan,TH,2021-06-14 05:24:20,16.5833,104.5000,89.87,57,74,16.08
26,26,Bati,ET,2021-06-14 05:24:23,11.1833,40.0167,80.92,24,96,4.70
33,33,Kapaa,US,2021-06-14 05:24:26,22.0752,-159.3190,80.58,77,20,12.66
34,34,Rikitea,PF,2021-06-14 05:23:10,-23.1203,-134.9692,75.11,78,100,14.65
35,35,Kavieng,PG,2021-06-14 05:24:26,-2.5744,150.7967,85.46,63,8,8.97
37,37,Bambous Virieux,MU,2021-06-14 05:24:27,-20.3428,57.7575,76.21,69,20,16.11
46,46,Tondano,ID,2021-06-14 05:24:32,1.3038,124.9112,75.29,88,100,1.59

In [59]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [60]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2          Key West      US     82.99  24.5557  -81.7826
10            Vaini      TO     75.36 -21.2000 -175.2000
18        Pemangkat      ID     87.40   1.1667  108.9667
20         Mukdahan      TH     89.87  16.5833  104.5000
26             Bati      ET     80.92  11.1833   40.0167
33            Kapaa      US     80.58  22.0752 -159.3190
34          Rikitea      PF     75.11 -23.1203 -134.9692
35          Kavieng      PG     85.46  -2.5744  150.7967
37  Bambous Virieux      MU     76.21 -20.3428   57.7575
46          Tondano      ID     75.29   1.3038  124.9112

In [61]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [63]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'html_attributions': [],
 'next_page_token': 'ATtYBwLQvHgSUnHCuglOu-6y0vNb60jqpcJEkPVCxuDhTu_uNziydgw_lHsAPW0_ZUjly6rQ8F7HWuISCb4FxFWroVRmFJtQacnf3X8nIAdhXlZJBB7vEMJjpECit6GZ9mkuke6-yHPBXHYyE9vDvYQC3owCw288IkgAKX6ptdwnvgjdrVHCp7VFQmHmkYC57DoWR6knuDRZn35sO5XY1KCZsOUycDBNFyt4Gn3I5fPsTGx-VqGgnIT5oCNyHHzDZnLVyEQpD6oGzgbKnLoqLqlNQgM6l7yJkXmCpR1Y9PWC-DFB46TLQzAuIPXweOUI9pdAyYLIYRIpORsRqjqKLFCkLUzgG1WSPVu5gnPzZR4jvA3Szb6kT1PAVFY5JIat8QjewgcU4wyW7GLhLp56aQjVgit31xrkObIwjhIC8-O3JBZamBgiJwO9CA4d',
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594393802915,
      'lng': 2.354352980291503},
     'southwest': {'lat': 48.8567414197085, 'lng': 2.351655019708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224">Hôtel Duo</a>'],
     'photo_reference': 'ATtYBwIs2-ju-Wm0dXdsolVeynr6KkPYXNp6V1Wwqcn0sTDImsVwRVDPwkW3YJP_VoiU4TboDUDaJAy82N_hsUddbFeCG1MqHaz9L864otzByi0f94Q25RQjGkReylIM8rRR5B5i7Kx55zgm3b6yqq-2VASZHLvr4LUtWlwJAmL1VDsAFBi-',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'spa',
    'lodging',
    'bar',
    'gym',
    'health',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 281,
   'vicinity': '11 Rue du Temple, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8582861, 'lng': 2.3464944},
    'viewport': {'northeast': {'lat': 48.8595495802915,
      'lng': 2.347780980291502},
     'southwest': {'lat': 48.8568516197085, 'lng': 2.345083019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Britannique - Paris Centre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1426,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929">Hôtel Britannique - Paris Centre</a>'],
     'photo_reference': 'ATtYBwJzbnZVQHuBJTgWep0wOBezAPXLdlYRISti7Kzva6suRx8ykTB1C6BDQ84U0t3n7Jl4A3vE_AU7RMGUlq0xqBki9yM_30mxvgavmugYsfHQNVd4rJhLmaMOivEypizdh8uxrTxy3aNmPrF0KX_qLvI2GqNFOfhg1WAwYAWVnwZX5-Kj',
     'width': 1476}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.6,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 532,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8606655, 'lng': 2.3469293},
    'viewport': {'northeast': {'lat': 48.86176813029151,
      'lng': 2.348040180291502},
     'southwest': {'lat': 48.85907016970851, 'lng': 2.345342219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Citadines Les Halles Paris (Apart hotel Paris)',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 849,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102565262508115704337">Citadines Les Halles Paris (Apart hotel Paris)</a>'],
     'photo_reference': 'ATtYBwKP5dEu6D2GiKDc0XcItpTZmBAD4dqBRouLsrHCfkOoRI-rc_DizVWgD7aFTkjhJ2ySK6v0deQ633siHq0VL29vBCgcUAZfgBki550m1Jyc4b0kZowEJLd2TOLG24Af8Tyk1MHXKXC7GxBd2qnwapZYP-kpoSuSjcOT4LhjJ3EwbAyl',
     'width': 1280}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 815,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8607658, 'lng': 2.3465318},
    'viewport': {'northeast': {'lat': 48.86205088029149,
      'lng': 2.347673130291502},
     'southwest': {'lat': 48.85935291970849, 'lng': 2.344975169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Novotel Paris Les Halles',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056">Novotel Paris Les Halles</a>'],
     'photo_reference': 'ATtYBwJRwZKQYZ5jlQ4IiEBR122km7CCcUn2U6pSV9m72H9gqlfDJrJiVdY9lnDNk6LtfPAiVqpksCq2xBIeUCSWDOon2xzowi4k8LieVZsApQMqwQitQt49HM1_mkrJmDF-detIs85XQZCRX1Wa-Q7rc_W7HOkIx6jrV7dq2Ox_LAEaGGtb',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+8J Paris, France',
    'global_code': '8FW4V86W+8J'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2127,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86034799999999, 'lng': 2.344054},
    'viewport': {'northeast': {'lat': 48.8616503302915,
      'lng': 2.345521080291502},
     'southwest': {'lat': 48.8589523697085, 'lng': 2.342823119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1390,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320">Hôtel Ducs de Bourgogne</a>'],
     'photo_reference': 'ATtYBwJt7DqPqZsciv_pQeN2ad_8rnoTN3fOyomsIS5vBKXDbhtpkSAs_MFBmi8wJXsbZARQb5ikCx_Z0S6hjGaWvsoAegqSqW9PXPiOD9FyV3Uhlg4k2YgCDKdb-u2slBQNDrEsD5-eyKK1p4KWqNWu0lrX1TDJ5oto1K_ZJLRZBXczfeN4',
     'width': 2048}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 277,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569076302915,
      'lng': 2.342319280291502},
     'southwest': {'lat': 48.8542096697085, 'lng': 2.339621319708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Citadines Saint-Germain-des-Prés Paris (Apart hotel Paris)',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4480,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113188832595116816387">Citadines Saint-Germain-des-Prés Paris</a>'],
     'photo_reference': 'ATtYBwKT_UmnoJH1cmtvswtXkfFo_-8eAUDuVYvfK_ZU_WSu9cspdNl2qUX6Bahi6rwTfBAFrP-h518OiNUjwWg662tCOzSnBBU18jT4J49qV4HkB18ElKC6m18CHdobCBQtcwlKvLVgv1fGiuH8-R9XxWfBTk4STACIyCSAQjDAFO33TEfS',
     'width': 6720}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 665,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86634659999999, 'lng': 2.36064},
    'viewport': {'northeast': {'lat': 48.86774953029149,
      'lng': 2.361898330291501},
     'southwest': {'lat': 48.86505156970849, 'lng': 2.359200369708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Paris France Hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2673,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102332962500946068613">Paris France Hôtel</a>'],
     'photo_reference': 'ATtYBwJPyAa996ZPhD7_NroC_8Xf6l_nYVTDiD1O8KMjhHNlbpXJOGY_JCUX5QX06K8g6BESyaNW6jcWeeAHs1CF-Gjppzwxmjsyovc_kE-iYWDEHLm5HbZafDTP9iNEEqT0Z81UQsrvpsKWt5rIQ1g1Lw6hPXzkIC0UnyndsNr4c459K2i2',
     'width': 3463}],
   'place_id': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'plus_code': {'compound_code': 'V986+G7 Paris, France',
    'global_code': '8FW4V986+G7'},
   'rating': 4.3,
   'reference': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 380,
   'vicinity': '72 Rue de Turbigo, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86386539999999, 'lng': 2.3325488},
    'viewport': {'northeast': {'lat': 48.8650759802915,
      'lng': 2.333775730291502},
     'southwest': {'lat': 48.8623780197085, 'lng': 2.331077769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Regina Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3700,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109908333790946649027">Hôtel Regina Louvre</a>'],
     'photo_reference': 'ATtYBwJzcQoo57d_xzEGlZppA6oedincWJpF6xnGRVpPLookjbZyFqXpcbyutM5CjdAAHPiJq3CGgcayMeoe_xFtsRpeSCjZtKYB28cU-pxdLfcnJazhS_tbF_7e9XtNOuEt0VCLjT6_sCKsOVgS4acn9-288Ll4qTtbkldXoruQeEGRMiVn',
     'width': 5550}],
   'place_id': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'plus_code': {'compound_code': 'V87M+G2 Paris, France',
    'global_code': '8FW4V87M+G2'},
   'rating': 4.5,
   'reference': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 500,
   'vicinity': '2 Place des Pyramides, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84795229999999, 'lng': 2.370869},
    'viewport': {'northeast': {'lat': 48.8492035302915,
      'lng': 2.372290080291501},
     'southwest': {'lat': 48.8465055697085, 'lng': 2.369592119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'ibis Paris Gare de Lyon Ledru Rollin 12ème',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102166088584622554231">cherry pyj</a>'],
     'photo_reference': 'ATtYBwIpboFWAVq1IpZq2cjxXJp4OZMSBmOoCmY6zcIb-MeZQnZEdzURvEkT9mpGtlK7NedFsWZS4CWS4YLFQ3fY_DYNZxSwvDkZ17DrwRMaEOe11foiMo4ln022W7j7KDg6D4aUX96oeCZDdXoGao9D9NdAhD2OktgNabIwiQt5JZJMoFZj',
     'width': 4032}],
   'place_id': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'plus_code': {'compound_code': 'R9XC+58 Paris, France',
    'global_code': '8FW4R9XC+58'},
   'rating': 4,
   'reference': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 762,
   'vicinity': '41/43 Avenue Ledru Rollin, Paris'},
  {'business_status': 'CLOSED_TEMPORARILY',
   'geometry': {'location': {'lat': 48.8710647, 'lng': 2.34991},
    'viewport': {'northeast': {'lat': 48.87241888029151,
      'lng': 2.351188530291502},
     'southwest': {'lat': 48.86972091970851, 'lng': 2.348490569708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel des Comédies Paris',
   'permanently_closed': True,
   'photos': [{'height': 4000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114696623290303183213">Noble</a>'],
     'photo_reference': 'ATtYBwLYuz_0utAFxiVkKwmI8sOQP3ZFbpQGivpBRblt5fyyUXmFoclHuKrWOjHmp2geKRxR2XPxw6Z5VPrOgIjBMWVeFnX29Xl2S8dFB6SfuYAawMNwfc0YQJ6MCCbNXWkbMo6bWgAIenhdwiEnYDMXINe-mKdX7XCtqLk-4CPwQq030w_Z',
     'width': 3000}],
   'place_id': 'ChIJn6ginxZu5kcRmAEK0OHm0cI',
   'plus_code': {'compound_code': 'V8CX+CX Paris, France',
    'global_code': '8FW4V8CX+CX'},
   'rating': 4.2,
   'reference': 'ChIJn6ginxZu5kcRmAEK0OHm0cI',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 194,
   'vicinity': "8 Rue d'Hauteville, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84754640000001, 'lng': 2.3718722},
    'viewport': {'northeast': {'lat': 48.8488750302915,
      'lng': 2.373125480291502},
     'southwest': {'lat': 48.8461770697085, 'lng': 2.370427519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel De France Gare de Lyon Bastille',
   'photos': [{'height': 787,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117462031751048846575">Hôtel De France Gare de Lyon Bastille</a>'],
     'photo_reference': 'ATtYBwJNfLPw-1xUrECFRS48Sy8LQJW750OAekMf-A-uqzfRNPzPHXZfjE6hUeQCx63HFPW7HT3QGr_GVjOxPkaw14hxu04aPkxsrzakRTdbKOWmKcdEUnRvDjCcuQji4pog8ZD-QYjoBYdX0OhdU3NLeA37FEj_UE3WdAiC_aW3QkFFzHLg',
     'width': 1181}],
   'place_id': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'plus_code': {'compound_code': 'R9XC+2P Paris, France',
    'global_code': '8FW4R9XC+2P'},
   'rating': 3.3,
   'reference': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 380,
   'vicinity': '12 Rue de Lyon, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8717386, 'lng': 2.3447052},
    'viewport': {'northeast': {'lat': 48.8731394302915,
      'lng': 2.346067130291502},
     'southwest': {'lat': 48.8704414697085, 'lng': 2.343369169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Prélude Opéra Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1152,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103624474621674096768">carlos MARTINEZ</a>'],
     'photo_reference': 'ATtYBwI_V5ebu0oCLUc0KopEkpv6bx3u6fHuWfpJ7XlRcNLa7jdOewKRyENxI9_NJHLfoSpKWLpW9Pl5rLbY6LnV3SpnWxsufLspnzUuitVwlNlgz2B77dZnywYQ9gH_lmuOWJhgLnnTsWgeWhUA8cEeTcBSgATjFI6mez8M78k5X4yhO1Ch',
     'width': 2048}],
   'place_id': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'plus_code': {'compound_code': 'V8CV+MV Paris, France',
    'global_code': '8FW4V8CV+MV'},
   'rating': 4.1,
   'reference': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 337,
   'vicinity': '8 Cité Bergère, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8423491, 'lng': 2.3632246},
    'viewport': {'northeast': {'lat': 48.84365908029149,
      'lng': 2.364711430291502},
     'southwest': {'lat': 48.8409611197085, 'lng': 2.362013469708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Libertel Austerlitz Jardin des Plantes',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4480,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114802271282641766772">Hôtel Libertel Austerlitz Jardin des Plantes</a>'],
     'photo_reference': 'ATtYBwLZ7yV2wQ9Xya12oqvbxposjshMBn7EWCHtEvq5b5thM0pF9Hk1bHRpjEGe2NY6VuSl86GqhGsUPywv7sFsvpQq2Fi3fZvaBe-pH_HM5VAL1S9OCQ02BztLrImDKmkVxcfT84aFMgQZQwFkdVp1dnfMWl-Tb6SLdoXDcmN6JdP94JH7',
     'width': 6720}],
   'place_id': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'plus_code': {'compound_code': 'R9R7+W7 Paris, France',
    'global_code': '8FW4R9R7+W7'},
   'rating': 4,
   'reference': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 433,
   'vicinity': "12 Boulevard de l'Hôpital, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.864294, 'lng': 2.3307997},
    'viewport': {'northeast': {'lat': 48.8655772302915,
      'lng': 2.332153880291502},
     'southwest': {'lat': 48.8628792697085, 'lng': 2.329455919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Saint James Albany Paris Hôtel Spa',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 650,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108570400659068256718">Saint James Albany Paris Hôtel Spa</a>'],
     'photo_reference': 'ATtYBwKN9kywHomS-zCp2MTT4gjyEELXumbGtlBGRudWBgZr6bxnnQErHybgdjs3YiSwGyeetUulqEkxuyr7b2k2dCt5Mb0WIiGFWHUXnaUAFkughrAPAteEdcmeDQruSO-zffY1t8-6cj1EKnPaAJZJXD7l8ksak8PQJY3mf6juKyUiRMNy',
     'width': 802}],
   'place_id': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'plus_code': {'compound_code': 'V87J+P8 Paris, France',
    'global_code': '8FW4V87J+P8'},
   'rating': 4,
   'reference': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1073,
   'vicinity': '202 Rue de Rivoli, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.87110329999999, 'lng': 2.3389728},
    'viewport': {'northeast': {'lat': 48.8724588802915,
      'lng': 2.340112930291502},
     'southwest': {'lat': 48.8697609197085, 'lng': 2.337414969708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Icône',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1066,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108137830440312077288">Hôtel Icône</a>'],
     'photo_reference': 'ATtYBwKxemt_4O6MLU0OLzOrVKMm2BZxIZoBHSMnEOZD4rmrKFetu7GYDbV8Z6lYe6R0E6yaUyt2GlaR9LPuN_k_vvl-C_XKqNhF38qpWuXXFmba89pgmxNygl3WXDI6wvp4Ce82To61PQCFbpo9XwcYTOpS3MXjLE7UDbNwfkvvSs7yEJxv',
     'width': 1600}],
   'place_id': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'plus_code': {'compound_code': 'V8CQ+CH Paris, France',
    'global_code': '8FW4V8CQ+CH'},
   'rating': 3.8,
   'reference': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 138,
   'vicinity': "4 Rue d'Amboise, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8524547, 'lng': 2.3472064},
    'viewport': {'northeast': {'lat': 48.8538838802915,
      'lng': 2.348601530291502},
     'southwest': {'lat': 48.8511859197085, 'lng': 2.345903569708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Esmeralda',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1960,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106443224837840180239">Fraz A. Khan</a>'],
     'photo_reference': 'ATtYBwIssQI0Gqf94x37MT8QhlcS8-QAJGqT8H-R-JnHOtsyjGD0bnqg5NbH6MDhK-BVWgMRN7LsD8yl7sZTHdPCJJKlakWTGVjyWflcZdcXLt9H3dqT6FmTnSSJMVLSNzsjIWgFhN4U2ItxyoOl3CYWcXzPQ5E_SOTrXXEtGslCjr0hfSND',
     'width': 4032}],
   'place_id': 'ChIJO_g_H-Fx5kcRmaabUHA3dT4',
   'plus_code': {'compound_code': 'V82W+XV Paris, France',
    'global_code': '8FW4V82W+XV'},
   'rating': 4.1,
   'reference': 'ChIJO_g_H-Fx5kcRmaabUHA3dT4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 142,
   'vicinity': '4 Rue Saint-Julien le Pauvre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8530901, 'lng': 2.3447174},
    'viewport': {'northeast': {'lat': 48.8544403302915,
      'lng': 2.346001280291502},

In [67]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [68]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Key West,US,82.99,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West
10,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
18,Pemangkat,ID,87.40,1.1667,108.9667,Ramah Kost KITA
20,Mukdahan,TH,89.87,16.5833,104.5000,Ban Kham Phung
26,Bati,ET,80.92,11.1833,40.0167,Adi 01 Kebele

In [75]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Key West,US,82.99,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West
10,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
18,Pemangkat,ID,87.40,1.1667,108.9667,Ramah Kost KITA
20,Mukdahan,TH,89.87,16.5833,104.5000,Ban Kham Phung
26,Bati,ET,80.92,11.1833,40.0167,Adi 01 Kebele
33,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
34,Rikitea,PF,75.11,-23.1203,-134.9692,People ThankYou
35,Kavieng,PG,85.46,-2.5744,150.7967,Nusa Island Retreat
37,Bambous Virieux,MU,76.21,-20.3428,57.7575,Casa Tia Villa
46,Tondano,ID,75.29,1.3038,124.9112,Villa Bella

In [76]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [79]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [80]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))