## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import requests
import numpy as np
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,62.94,66,28,10.92,scattered clouds
1,1,Hermanus,ZA,-34.4187,19.2345,56.89,85,96,7.05,overcast clouds
2,2,Mar Del Plata,AR,-38.0023,-57.5575,48.99,71,75,11.99,broken clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,35.26,100,0,13.80,clear sky
4,4,Punta Arenas,CL,-53.1500,-70.9167,35.71,93,75,5.75,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Grand Gaube,MU,-20.0064,57.6608,77.38,69,0,5.99,clear sky
8,8,Port-Gentil,GA,-0.7193,8.7815,80.56,83,75,10.36,broken clouds
10,10,Vaini,TO,-21.2000,-175.2000,75.36,88,75,6.91,broken clouds
13,13,Lorengau,PG,-2.0226,147.2712,83.64,73,68,8.55,broken clouds
17,17,Faya,SA,18.3851,42.4509,77.52,16,65,4.61,broken clouds
21,21,Saskylakh,RU,71.9167,114.0833,75.45,31,9,10.29,clear sky
23,23,Kapaa,US,22.0752,-159.3190,80.58,82,75,12.66,light rain
39,39,Aksu,CN,41.1231,80.2644,79.03,23,97,7.43,overcast clouds
40,40,Fitii,PF,-16.7333,-151.0333,79.95,78,58,23.76,light rain
42,42,Casper,US,42.8666,-106.3131,77.50,22,1,4.61,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                244
City                   244
Country                244
Lat                    244
Lng                    244
Max Temp               244
Humidity               244
Cloudiness             244
Wind Speed             244
Current Description    244
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Grand Gaube,MU,-20.0064,57.6608,77.38,69,0,5.99,clear sky
8,8,Port-Gentil,GA,-0.7193,8.7815,80.56,83,75,10.36,broken clouds
10,10,Vaini,TO,-21.2000,-175.2000,75.36,88,75,6.91,broken clouds
13,13,Lorengau,PG,-2.0226,147.2712,83.64,73,68,8.55,broken clouds
17,17,Faya,SA,18.3851,42.4509,77.52,16,65,4.61,broken clouds
...,...,...,...,...,...,...,...,...,...,...
694,694,Kutum,SD,14.2000,24.6667,82.53,18,93,9.66,overcast clouds
695,695,Tarakan,ID,3.3000,117.6333,83.70,89,40,0.00,scattered clouds
696,696,Baghdad,IQ,33.3406,44.4009,87.71,29,0,23.02,clear sky
698,698,Sabang,ID,5.8933,95.3214,83.93,72,86,14.83,overcast clouds
700,700,Fujin,CN,47.2600,132.0322,84.92,45,73,10.69,broken clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df[["Hotel Name"]] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Grand Gaube,MU,77.38,clear sky,-20.0064,57.6608,
8,Port-Gentil,GA,80.56,broken clouds,-0.7193,8.7815,
10,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
13,Lorengau,PG,83.64,broken clouds,-2.0226,147.2712,
17,Faya,SA,77.52,broken clouds,18.3851,42.4509,
21,Saskylakh,RU,75.45,clear sky,71.9167,114.0833,
23,Kapaa,US,80.58,light rain,22.0752,-159.3190,
39,Aksu,CN,79.03,overcast clouds,41.1231,80.2644,
40,Fitii,PF,79.95,light rain,-16.7333,-151.0333,
42,Casper,US,77.50,clear sky,42.8666,-106.3131,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "lat": "lat",
    "lng": "lng"
}
    

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
       
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Grand Gaube,MU,77.38,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
8,Port-Gentil,GA,80.56,broken clouds,-0.7193,8.7815,Fengshui Residence
10,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
13,Lorengau,PG,83.64,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
17,Faya,SA,77.52,broken clouds,18.3851,42.4509,مقبرة ال مجمل
...,...,...,...,...,...,...,...
694,Kutum,SD,82.53,overcast clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
695,Tarakan,ID,83.70,scattered clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
696,Baghdad,IQ,87.71,clear sky,33.3406,44.4009,Baghdad Hotel
698,Sabang,ID,83.93,overcast clouds,5.8933,95.3214,Hotel Citra
700,Fujin,CN,84.92,broken clouds,47.2600,132.0322,Xilong Hotel Fujin Shop

In [32]:
# 8a. Create the output File (CSV)
clean_hotel_df.to_csv('WeatherPy_vacation.csv')

# 8b. Export the City_Data into a csv
city_data_df.to_csv(r'C:\Users\wendy\Desktop\GITHub\World_Weather_Analysis\Vacation_Search\city_data_df.csv', index_label='City_ID')

In [33]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Grand Gaube,MU,77.38,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
8,Port-Gentil,GA,80.56,broken clouds,-0.7193,8.7815,Fengshui Residence
10,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
13,Lorengau,PG,83.64,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
17,Faya,SA,77.52,broken clouds,18.3851,42.4509,مقبرة ال مجمل
...,...,...,...,...,...,...,...
694,Kutum,SD,82.53,overcast clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
695,Tarakan,ID,83.70,scattered clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
696,Baghdad,IQ,87.71,clear sky,33.3406,44.4009,Baghdad Hotel
698,Sabang,ID,83.93,overcast clouds,5.8933,95.3214,Hotel Citra
700,Fujin,CN,84.92,broken clouds,47.2600,132.0322,Xilong Hotel Fujin Shop

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [71]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

In [72]:
clean_hotel_df.columns

Index(['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng',
       'Hotel Name'],
      dtype='object')

In [73]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = clean_hotel_df[["City","Lat","Lng"]]
locations_df.head()

           City      Lat       Lng
5   Grand Gaube -20.0064   57.6608
8   Port-Gentil  -0.7193    8.7815
10        Vaini -21.2000 -175.2000
13     Lorengau  -2.0226  147.2712
17         Faya  18.3851   42.4509

In [74]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# Store the DataFrame Row.
clean_hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [76]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))