## Deliverable 3. Create a Travel Itinerary Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [32]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

   Unnamed: 0     City Country  Max Temp      Lat       Lng Hotel Name
0           2   Dingle      PH     88.81  10.9995  122.6711        NaN
1           4   Faanui      PF     80.58 -16.4833 -151.7500        NaN
2           5  Taitung      TW     89.87  22.7583  121.1444        NaN
3           6  Rikitea      PF     75.04 -23.1203 -134.9692        NaN
4           7  Kahului      US     76.96  20.8947 -156.4700        NaN

In [33]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [34]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

itin_df = vacation_df.set_index('City')
vacation_start = itin_df.loc['Kahului'].to_frame()
vacation_end = itin_df.loc['Kahului'].to_frame()
vacation_stop1 = itin_df.loc['Makakilo City'].to_frame()
vacation_stop2 = itin_df.loc['Kapaa'].to_frame()
vacation_stop3 = itin_df.loc['Hilo'].to_frame()

print(itin_df)

                   Unnamed: 0 Country  Max Temp      Lat       Lng  \
City
Dingle                      2      PH     88.81  10.9995  122.6711
Faanui                      4      PF     80.58 -16.4833 -151.7500
Taitung                     5      TW     89.87  22.7583  121.1444
Rikitea                     6      PF     75.04 -23.1203 -134.9692
Kahului                     7      US     76.96  20.8947 -156.4700
...                       ...     ...       ...      ...       ...
Baripada                  679      IN     88.54  21.9350   86.7214
San Mateo Del Mar         680      MX     80.28  16.2000  -95.0000
Puerto Lempira            681      HN     77.04  15.2667  -83.7667
Strezhevoy                687      RU     75.18  60.7333   77.5889
Gouyave                   688      GD     80.08  12.1646  -61.7296

                        Hotel Name
City
Dingle                         NaN
Faanui                         NaN
Taitung                        NaN
Rikitea                        NaN
Kahului                        NaN
...                            ...
Baripada                       NaN
San Mateo Del Mar              NaN
Puerto Lempira                 NaN
Strezhevoy                     NaN
Gouyave            Rumboat Retreat

[222 rows x 6 columns]

In [ ]:
numpy.where()

In [38]:


# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.


start = pd.vacation_df({"City": [arr == Kahului)
#end = 
#stop1 = 
#stop2 = 
#stop3 =

NameError: name 'arr' is not defined

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.


itin_df = pd.concat([],ignore_index=True)
itin_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure